<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, user-scalable=yes, target-densitydpi=device-dpi" />
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta http-equiv="cleartype" content="on" />
<meta http-equiv="content-script-type" content="text/javascript" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-language" content="us" />

<!-- Site Info metas -->
<title>{{ siteTitle }}</title>
<meta name="description" content="{{ description }}" />
<meta name="keywords" content="Maria Rabelero,melonangie,Angie Rabelero,Rabelero,web developer,php developer,drupal,symfony,cv,resume,web,html,html5,css,css3,php,mysql,developer,development,gnu,linux,apache" />
<meta name="author" content="{{ author }}" />
<meta name="revisit-after" content="14 days" />
<meta name="distribution" content="Global" />
<meta name="rating" content="General" />
<meta name="Resource-type" content="Website" />
{% if environment == 'development' %}
  <meta name="robots" content="noindex,nofollow">
{% else %}
  <meta name="robots" content="index,follow,odp" />
{% endif %}

<!-- Microdata metas -->
<meta itemprop="name" content="{{ siteTitle }}" />
<meta itemprop="description" content="{{ description }}" />
<meta itemprop="image" content="{{ avatar }}" />

<!-- Facebook metas -->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ url }}" />
<meta property="og:title" content="{{ siteTitle }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:image" content="{{ avatar }}" />
<meta property="og:image:type" content="website" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<!-- Twitter metas -->
<meta property="twitter:account_id" content="136731560" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ twitterHendler }}" />
<meta name="twitter:creator" content="{{ twitterHendler }}" />
<meta name="twitter:description" content="{{ siteTitle }}" />
<meta name="twitter:title" content="{{ description }}" />
<meta name="twitter:image:src" content="{{assetsCssImg}}system/twitter-og-image.jpg">

  <!-- Google metas -->
<meta name="google-site-verification" content="googlebee6a98eb3ccb40d.html" />
<link rel="author" href="https://www.google.com/profiles/{{ googleID }}" />
<link rel="publisher" href="https://plus.google.com/{{ googleID }}" />
<link rel="alternate" type="application/rss+xml" title="{{ siteTitle }}" href="{{ url }}" />
<link rel="alternate" hreflang="en" href="{{ url }}" />

<!-- Other metas -->
<meta name="msvalidate.01" content="36F655E7FA1621D33A1B3B296B58A7D6" />
<meta property="fb:app_id" content="286181778509835"/>
<link rel="profile" href="https://gmpg.org/xfn/11" />
<link rel="shortlink" href="{{ url }}" />
<link rel="canonical" href="{{ url }}" />
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/mariarabelero.github.io\/","name":"Maria Rabelero","potentialAction":{"@type":"SearchAction","target":"https:\/\/mariarabelero.github.io\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Person","url":"https:\/\/mariarabelero.github.io\/","sameAs":["https:\/\/www.youtube.com\/c\/melonangie"],"@id":"#person","name":"Maria Rabelero"}</script>

 <!-- Disable tap highlight on IE -->
<meta name="msapplication-tap-highlight" content="no" />

<!-- Web Application Manifest -->
<link rel="manifest" href="manifest.json" />

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes" />
<meta name="application-name" content="{{ siteTitle }}" />
<link rel="icon" type="image/png" href="{{ assetsImg }}logo-cat.svg" sizes="196x196" />
<link rel="icon" type="image/png" href="{{ assetsImg }}logo-cat.svg" sizes="96x96" />
<link rel="icon" type="image/png" href="{{ assetsImg }}logo-cat.svg" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ assetsImg }}logo-cat.svg" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ assetsImg }}logo-cat.svg" sizes="128x128" />
<link rel="shortcut icon" href="{{ assetsImg }}logo-cat.png" sizes="16x16 32x32" />
<link rel="shortcut icon" href="{{ assetsImg }}logo-cat.png" sizes="196x196" />
<link rel="shortcut icon" href="{{assetsImg}}logo-cat.png" />

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-title" content="{{ siteTitle }}" />
<link rel="apple-touch-icon" href="{{ assetsImg }}logo-cat.png" />
<link rel="apple-touch-icon-precomposed" href="{{ assetsImg }}logo-cat.svg" sizes="57x57" />
<link rel="apple-touch-icon-precomposed" href="{{ assetsImg }}logo-cat.svg" sizes="60x60" />
<link rel="apple-touch-icon-precomposed" href="{{ assetsImg }}logo-cat.svg" sizes="72x72" />
<link rel="apple-touch-icon-precomposed" href="{{ assetsImg }}logo-cat.svg" sizes="76x76" />
<link rel="apple-touch-icon-precomposed" href="{{ assetsImg }}logo-cat.svg" sizes="114x114"/>
<link rel="apple-touch-icon-precomposed" href="{{ assetsImg }}logo-cat.svg" sizes="120x120" />
<link rel="apple-touch-icon-precomposed" href="{{ assetsImg }}logo-cat.svg" sizes="152x152" />

<!-- Tile icon for Win8 -->
<meta name="msapplication-TileImage" content="{{ assetsImg }}logo-cat.svg" />
<meta name="msapplication-TileColor" content="{{ color }}" />

<!-- Color the status bar on mobile devices -->
<meta name="theme-color" content="{{ color }}" />

<!--[if lt IE 9]>
  <script src="{{ assetsJs }}html5shiv.js"></script>
<![endif]-->

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--[if IE]>
  <script src="{{ assetsJs }}vendor/ie10-viewport-bug-workaround.css"></script>
<![endif]-->

<!-- CSS -->
<link rel="stylesheet" href="{{ assetsCss }}vendor/jquery-fullpage.css">
<link rel="stylesheet" href="{{ assetsCss }}style.css">
